$body-bg: #a9a9a9;
// Import Bootstrap and its default variables
$theme-colors: (
  success: darkgreen
);
@import '~bootstrap/scss/bootstrap.scss';
.list-group 
.list-group-item {
  border: none;
  padding: none;
  border-radius: 0%;
}
.list-group-item-success {
  color: white;
  background-color: darkgreen;
}
// .input-group {
//   background-color: rgba(0, 0, 0, 0.1);
//   backdrop-filter: blur(5px);
//   border-radius: 5%;
//   color: white
// }
// .input-group-text{
//   background-color: inherixt;
//   backdrop-filter: inherit;
//   color: inherit;
//   border-radius: inherit;
//   border: none;

// }
// .input-group-prepend {

//   background-color: inherit;
//   backdrop-filter: inherit;
//   border-radius: inherit;
//   border: none;


// }
// .form-control {
//   // background-color: rgba(255, 255, 255, .15);
//   // backdrop-filter: blur(5px);
//   background-color: inherit;
//   backdrop-filter: inherit;
//   // border-radius: inherit
//   border: none;
// }
